<!DOCTYPE html>
<html>
  <head>
    <title>Ping-Pong</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form method="POST" action="/results">
      <label for="userNumber">Enter Number to Test PingPong</label>
      <input type="text" name="userNumber" autofocus>
      <input type="Submit" name="submit" value="Run PingPong Test">
    </form>
  </body>
</html>
